*{
    margin: 0;
    padding: 0;
}

body{

background-color: #000000;

color: white;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.crud{

width: 80%;
margin: auto;



}

.head{

font-size: 30px;
text-align: center;

}
 .p{

margin-left: 30px;


 }


 input{

width: 100%;
height: 30px;
outline: none;
border: none;
margin: 4px 0;
border-radius: 10px;
padding: 3px;
background-color: #302f2f;
color: white;
 }

input:focus{
transition: all 0.3s;
transform: scale(1.1);
background-color: rgb(51, 50, 50);

}

.price input{

width: 20%;




}
#total{
background-color: red;
padding: 5px 3px;
border-radius: 5px;


}

#total::before{

content: 'total:';



}

button{

width: 100%;
height: 30px;
border: none;
cursor: pointer;
background-color: rgb(71, 24, 158);
color: rgb(255, 255, 255);
border-radius: 20px;
transition: 0.5s;
}

button:hover{

background-color: rgb(255, 128, 0);
letter-spacing: 1px;





}


.btnsearch{
display: flex;

justify-content: space-between;


}

.btnsearch button{
width: 45%;


}

table{
    width: 100%;
    text-align: center;
    margin: 10px 0px;
}

table th{

text-transform: uppercase;

}

th,td{

padding: 5px;


}

#deleteall{

    margin: 10px 0px;
}


.table{

background-color: rgba( 46, 0, 62);
border-radius: 10px 30px;
padding: 5px;

}


.rotate-overlay {
  position: fixed;
  inset: 0;
  background: #000;
  color: #fff;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  text-align: center;
}

.rotate-box h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.rotate-box p {
  font-size: 16px;
  opacity: 0.8;
}


@media screen and (max-width: 768px) and (orientation: portrait) {
  .rotate-overlay {
    display: flex;
  }

  body {
    overflow: hidden;
  }
}